@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@600;700&display=swap');

@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FAF7F2;
  color: #2F2F2F;
}

section {
  background-color: #FAF7F2;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 120px;
}